*.pyc
*~
*.tmp
*.swp
rpmtop/
vdsm/doc/build/
Makefile
Makefile.in
*.o
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
vdsm-*.tar.gz
vdsm.spec
.deps/
vdsm/constants.py
vdsm/constants.py.in
vdsm/logger.conf
vdsm/mk_sysprep_floppy
vdsm/storage/protect/safelease
vdsm/sudoers.vdsm
vdsm/sudoers.vdsm.in
vdsm/vdsm-restore-net-config
vdsm/vdsm-sosplugin.py
vdsm/vdsm-store-net-config
vdsm/vdsm.conf.sample
vdsm/vdsmd
vdsm_cli/vdsClient
vdsm_cli/vdscli.py
vdsm_reg/deployUtil.py
vdsm_reg/vdsm-reg.conf
