# SPDX-FileCopyrightText: Red Hat, Inc.
# SPDX-License-Identifier: GPL-2.0-or-later

image: quay.io/ovirt/vdsm-test-centos-9

variables:
  TRAVIS_CI: 1
  EXPORT_DIR: "exported-artifacts"

lint:
  script:
    - ./ci/lint.sh

tests-storage:
  script:
    - ./ci/tests-storage.sh

rpm:
  script:
    - ./ci/rpm.sh
  artifacts:
    name: "rpm-centos-9"
    paths:
      - "$EXPORT_DIR/"
    expire_in: 1 week
