config.log
config.status
configure
install-sh
missing
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.rpath
config.sub
ABOUT-NLS
py-compile

tmp.*
*.spec
*.swp
*.tmp
*.jar

target
pom.xml
.project
