# SPDX-FileCopyrightText: Red Hat, Inc.
# SPDX-License-Identifier: GPL-2.0-or-later

*.iml
*.o
*.pickle
*.pyc
*.swp
*.tmp
*~
.deps
.idea
.project
.pydevproject
.tox
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/py-compile
config.log
config.status
configure
cscope.out
doc/build
init/systemd/vdsm-tmpfiles.d.conf
init/vdsmd_init_common.sh
lib/vdsm/api/vdsm-api.html
lib/vdsm/common/constants.py
lib/vdsm/common/config.py
lib/vdsm/common/dsaversion.py
lib/sos/vdsm.py
lib/vdsm/storage/lvm.env
lib/vdsm/storage/protect/spmprotect.sh
lib/vdsm/storage/vdsm-lvm.rules
lib/vdsm/storage/vdsm_lvm_rules.template
lib/vdsm/tool/validate_ovirt_certs.py
lib/vdsm/vdsm.conf.sample
results.log
static/etc/rwtab.d/vdsm
static/etc/sudoers.d/50_vdsm
static/libexec/vdsm/vdsm-gencerts.sh
static/usr/lib/systemd/system/mom-vdsm.service
static/usr/lib/systemd/system/supervdsmd.service
static/usr/lib/systemd/system/vdsm-network.service
static/usr/lib/systemd/system/vdsmd.service
static/usr/share/vdsm/autounattend/Autounattend.xml
static/usr/share/vdsm/autounattend/Win7.xml
static/usr/share/vdsm/autounattend/Win8.xml
static/usr/share/vdsm/autounattend/Win8.1.xml
static/usr/share/vdsm/autounattend/Win10.xml
static/usr/share/vdsm/autounattend/Win2008.xml
static/usr/share/vdsm/autounattend/Win2008R2.xml
static/usr/share/vdsm/autounattend/Win2012.xml
static/usr/share/vdsm/autounattend/Win2012R2.xml
static/usr/share/vdsm/autounattend/Win2016.xml
static/etc/vdsm/logger.conf
static/etc/vdsm/mom.conf
static/etc/vdsm/svdsm.logger.conf
tags
tests/.cache
tests/.coverage-*
tests/htmlcov-*
tests/run_tests.sh
tests/run_tests_local.sh
tests/server.p12
tests/server.crt
tests/server.csr
tests/server.key
tests/other.crt
tests/other.csr
tests/other.key
vdsm-*.tar.gz
vdsm.spec
vdsm/vdscli.py
static/usr/share/man/man1/vdsm-tool.1
static/usr/share/man/man8/vdsmd.8
vdsm/rpc/vdsm-api.html
vdsm_hooks/openstacknet/sudoers
vdsm_hooks/checkips/vdsm-checkips.service

# Not autogenerated
\!.copr/Makefile
