# SPDX-FileCopyrightText: Red Hat, Inc.
# SPDX-License-Identifier: GPL-2.0-or-later

# This file defines python constans that make it easier to convert data
# received by setMOMPolicyParameters
(defvar False 0)
(defvar True 1)

# Define variables for configurable options here
(defvar ksmMergeAcrossNodes 1)
(defvar ksmEnabled 1)
(defvar balloonEnabled 0)
(defvar cpuTuneEnabled 1)
(defvar ioTuneEnabled 1)

