# SPDX-FileCopyrightText: Red Hat, Inc.
# SPDX-License-Identifier: GPL-2.0-or-later

name: Network CI
on:
  push:
    branches:
      - master
    paths:
      - 'lib/vdsm/network/**'
      - 'lib/vdsm/common/**'
      - 'tests/network/**'
      - '.github/workflows/network.yml'
  pull_request:
    paths:
      - 'lib/vdsm/network/**'
      - 'lib/vdsm/common/**'
      - 'tests/network/**'
      - '.github/workflows/network.yml'
  # Build every week on Sunday 02:00 to pick up new container
  schedule:
    - cron:  '0 2 * * 0'

jobs:
  tests:
    env:
      IMAGE_TAG: ${{ matrix.tag }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        type: [ unit, integration, functional ]
        tag: [ alma-9, centos-9 ]
    steps:
      - uses: ovirt/checkout-action@main
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install podman
      - name: Run ${{ matrix.type }} tests
        run: sudo -E ./tests/network/${{ matrix.type }}/run-tests.sh
